<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MyServiceBehavior" name="LetsLearnCzech.Service.CzechService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/CzechService/service" />
          </baseAddresses>
        </host>
        <!--
        <endpoint address="" binding="basicHttpBinding" contract="LetsLearnCzech.Service.ICzechService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        -->
        <endpoint address="ws" binding="wsHttpBinding" contract="LetsLearnCzech.Service.ICzechService"/>
        <endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" contract="LetsLearnCzech.Service.ICzechService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>